@import ../../bower_components/normalize-css/normalize
@import variables
@import buttons

body
  font-family: "Roboto", sans-serif
  font-size: 18.9px
  line-height: 40px
  color: #868686
  font-weight: 300
h2
  font-weight: 300
  font-size: 38px
  color: #868686
  text-align: center
  margin: 30px 0

@import intro

.vanraemdonckslide

  img.vrlogo
    width: 258px
    height: auto
    margin-bottom: 50px
  p
    max-width: 70%
  @media screen and (min-width: $screen-sm-min)
    .row
      display: flex
    .leftcol
      padding: 100px
    .rightcol
      background: url("../img/moderne-haardwand.png") no-repeat
      background-size: cover

.greybar
  width: 100%
  background: #eee
  margin-top: 50px
