@import ../../bower_components/normalize-css/normalize
@import variables


body
  font-family: "Roboto", sans-serif
  font-size: 18.9px
  line-height: 40px
  color: #868686
  font-weight: 300
h2
  font-weight: 300
  font-size: 38px
  color: #868686
  text-align: center
  margin: 30px 0

@import intro

.vanraemdonckslide
  padding: 30px 0
  img.vrlogo
    width: 258px
    height: auto
    margin-bottom: 50px
  p
    max-width: 75%

.greybar
  width: 100%
  background: #eee
  margin-top: 50px
  padding: 100px
